.sound {
    padding: 5px ;
    max-width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.sound__title{
    color: black;
    padding: 0;
    font-size: 20px;
    margin: 0 0 10px;
}
.sound__play{
    min-width: 100px;
}
.sound__button{
    min-height: 48px;
}
.sound__down {
    background-image: url(../../Images/volume-down.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.sound__up {
    background-image: url(../../Images/volume-up.svg);
    background-repeat: no-repeat;
    background-position: center;
}