.main {
  padding: 0px 0 30px;
  background-color: #fff;
}
.info {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

/* Draw winning line*/




.game-type{
  margin: 0;
}
.btn_radio{
  padding: 0;
  min-width: 160px;
}

.settings{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.settings__wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.setting__player{
  padding: 5px;
  box-sizing: border-box;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  }
  .setting__board{
    padding: 5px;
  box-sizing: border-box;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  }
  .setting__title{
    background-color: rgba(0, 0, 0, 0.2);
  }
  .form__btn{
    cursor: pointer;
  }
@media (max-width: 1400px) {
  .main {
    padding: 0px ;
  }
  .main>.info {
    font-size: 1.2rem;
  }
  .main>.board>.board-row>.cell {
    padding-top: calc(100% / 6 - 1.7rem);
    padding-bottom: calc(100% / 6 - 1.7rem);
    font-size: 3rem;
    line-height: 3.3rem;
  }
}

@media (max-width: 575px) {
  .main {
    padding: 0px 5px;
  }
}